<div class="container">
	<h1 id="latestPokemon">Latest Pokemon added</h1>
	<div class="row">
		<% var lastPokemon = pokemons.slice(-1)[0]; %>
			<div class="col-sm-4">
				<div class="card">
					<img class="cardImg" src= <%= lastPokemon.url %> >
						<div class="card-block">
							<h3 class="card-title"><%= lastPokemon.name %></h3>
							<p><%= lastPokemon.descriptions %></p>
							<ul>
								<li>Abilities: <%= lastPokemon.abilities %></li>
								<li>Evolutions: <%= lastPokemon.evolutions %></li>
								<li>Moves: <%= lastPokemon.moves %></li>
								<li>HP: <%= lastPokemon.hp %></li>
								<li>Attack: <%= lastPokemon.attack %></li>
								<li>Defence: <%= lastPokemon.defence %></li>
								<li>Speed: <%= lastPokemon.speed %></li>
							</ul>
							<a href="/<%= lastPokemon._id %>" class="btn btn-primary">More Info!</a>
						</div>
				</div>
			</div>
	</div>
	<img id="indexShowImg" src= <%= lastPokemon.url %> >
</div>






<div class="container">
	<h1>The Pokemon Community Collection</h1>
	<div class="row">
		<% for(var i = 0; i < pokemons.length; i++ ) { %>
				<div class="col-sm-4">
					<div class="card">
						<img class="cardImg" src= <%= pokemons[i].url %> >
						<div class="card-block">
							<h3 class="card-title"><%= pokemons[i].name %></h3>
							<p><%= pokemons[i].descriptions %></p>
							<ul>
								<li>Abilities: <%= pokemons[i].abilities %></li>
								<li>Evolutions: <%= pokemons[i].evolutions %></li>
								<li>Moves: <%= pokemons[i].moves %></li>
								<li>HP: <%= pokemons[i].hp %></li>
								<li>Attack: <%= pokemons[i].attack %></li>
								<li>Defence: <%= pokemons[i].defence %></li>
								<li>Speed: <%= pokemons[i].speed %></li>
							</ul>
							<a href="/<%= pokemons[i]._id %>" class="btn btn-primary">More Info!</a>
						</div>
					</div>
				</div>
		<% } %>
	</div>
</div>