<h1><%= pokemon.name %></h1>

<div class="col-sm-4">
	<div class="card">
		<img class="cardImg" src= <%= pokemon.url %> >
		<div class="card-block">
			<h3 class="card-title"><%= pokemon.name %></h3>
			<p><%= pokemon.descriptions %></p>
			<ul>
				<li>Abilities: <%= pokemon.abilities %></li>
				<li>Evolutions: <%= pokemon.evolutions %></li>
				<li>Moves: <%= pokemon.moves %></li>
				<li>HP: <%= pokemon.hp %></li>
				<li>Attack: <%= pokemon.attack %></li>
				<li>Defence: <%= pokemon.defence %></li>
				<li>Speed: <%= pokemon.speed %></li>
			</ul>
		</div>
	</div>
</div>

<img id="showImg" src= <%= pokemon.url %> >